h1{
    background-color: red;
    border-radius: 25px;
    margin: 20px;
}

.clase{
    background-color: blue;
    border-radius: 25px;
}

#id{
    background-color: green;
    border-radius: 25px;
}

*{
    margin: 20px;
}

.clase2{
    background-color: black;
    margin: 20px;
    padding: 10px;
    color: red;
}

#id2{
    background-color: black;
    margin: 20px;
    padding: 10px;
    color: red;
}

*:hover{
    background-color: chocolate;
}