h1{
    background-color: red;
    border-radius: 25px;
    margin: 20px;
}

.clase{
    background-color: blue;
    border-radius: 25px;
}

#id{
    background-color: green;
    border-radius: 25px;
}

div p{
    background-color: brown;
    border-radius: 25px;
}

.clase2{
    background-color: black;
    margin: 20px;
    padding: 10px;
    color: red;
}

#id2{
    background-color: black;
    margin: 20px;
    padding: 10px;
    color: red;
}

*:hover{
    background-color: aqua;
}

.imagen{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

#nombre{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

.numero{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

#ig{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

.info{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

#dueño{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}